<!-- Author:Marija Stakic 2021/0320 -->
<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zahtev odbijen</title>
</head>
<body>
    <h2>Vaš zahtev je odbijen</h2>
    <p>Poštovani/a {{ organization.name }},</p>
    <p>Nažalost, vaš zahtev je odbijen. Hvala vam na interesovanju za našu platformu.</p>
    <p>Najlepše želje,<br>
       Doniraj tim</p>
</body>
</html>