<!-- Author:Marija Stakic 2021/0320 -->

<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zahtev odobren</title>
</head>
<body>
    <h2>Vaš zahtev je odobren</h2>
    <p>Poštovani/a {{ organization.name }},</p>
    <p>Sa zadovoljstvom vas obaveštavamo da je vaš zahtev odobren. Dobrodošli u našu zajednicu!</p>
    <p>Najlepše želje,<br>
       Doniraj tim</p>
</body>
</html>