<!--Autori: Matija Milic i Marija Stakic-->
{% extends 'layout.html' %}

{% block title %}
    Profil
{% endblock %}
{% block content %}
<div class="profil marg levo d-flex align-items-center">
  <div class="rounded-circle vecaProfilna me-3">
    <img src="{{ user.image.url }}" alt="profilna" class="img-fluid">
  </div>
  <h3 class="me-3">@{{ user.username }}</h3>
  {% if request.user != user %}
  <a href="{% url 'chat:start-chat' user.username %}" class="link-secondary d-flex align-items-center">
    <img src="/media/images/chat.png" alt="chat" width="30px" class="me-2">
    Kontaktiraj
  </a>
  {% endif %}
</div>


<div class="d-flex justify-content-end margDesno">
  {% if request.user == user %}
    <a href="/inbox" class="me-3 link-dark slovaVeca">
      <img src="/media/images/inbox.png" alt="inbox" width="35px" id = "inboxslika">
      Inbox
    </a>
  {% endif %}
</div>

<div class="container mt-4">
  <div class="row justify-content-start">  
    {% for oglas in oglasi %}
    <div class="col-md-4 mb-4">
      <div class="card same-height-card" style="width: 18rem;"> 
        <a href="{% url 'oglasi:oglas' oglas.id %}">
          <div class="text-center">
            <img src="{{ oglas.slika.url }}" class="card-img-top img-fluid" alt="{{ oglas.naziv }}">
          </div>
        </a>
        <div class="card-body text-center">
          <h5 class="card-title">{{ oglas.naziv }}</h5>
          <p class="card-text">{{ oglas.opis }}</p>
          {% if request.user == user or request.user.is_staff %}
          <button type="button" class="btn btn-light obrisi delete-button-oglas" data-oglas-id="{{ oglas.id }}">
            Obriši Oglas
          </button>
          
            
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<form method="post" id="delete-form" style="display: none;">
  {% csrf_token %}
</form>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      document.querySelectorAll('.delete-button-oglas').forEach(function(button) {
          button.addEventListener('click', function() {
              if (confirm("Da li ste sigurni da želite da obrišete oglas?")) {
                  const oglasId = this.getAttribute('data-oglas-id');
                  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  
                  fetch(`/oglasi/delete_oglas/${oglasId}/`, {
                      method: 'POST',
                      headers: {
                          'X-CSRFToken': csrftoken,
                          'Content-Type': 'application/json'
                      }
                  })
                  .then(response => response.json())
                  .then(data => {
                      if (data.status === 'success') {
                          this.closest('.col-md-4').remove(); 
                          alert(data.message);
                      } else {
                          alert(data.message);
                      }
                  })
                  .catch(error => console.error('Error:', error));
              }
          });
      });
  });
  </script>

{% endblock %}